.footer{
    min-height: 62.1vh;
    height: 100%;
    background-color: #0247FE;
    /* background-color: ; */
    width: 100%;
}

.footer__container {
    width: 83.33%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
   
    /* align-items: center; */
}

.footer__top {
display: flex;
    justify-content: space-between;
    margin-bottom: 5.1rem;
}


.footer__left{
display: flex;
flex-direction: column;
gap: 1.6rem;
width: 25%;
/* margin-right: 2rem; */
}

.footer__logo {
    display: block;
    width: max-content;
    
}

.footer__logo--heading {
font-weight: 400;
font-size: 7.2rem;
    text-align: center;

line-height: 180%;
color: #FBFBFB;
font-family: 'Plaster', cursive;

}
.footer__logo--subheading {
   /* font-family: 'Marcellus SC'; */
   font-family: 'Marcellus SC', serif;
font-style: normal;
font-weight: 400;
font-size: 2rem;
line-height: 180%;
color: #FBFBFB;

}

.footer__left--text {
font-weight: 400;
font-size: 1.6rem;
line-height: 162%;
color: #FBFBFB;
}

.footer__icons{
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.footer__icon{
    transition: .3s;
   cursor: pointer;
}

.footer__icon:hover  {
    stroke: #0247FE;
    fill: #FBFBFB;
    transition: .3s;
}

.footer__right {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* gap: 6.4rem; */
    gap: 3.6rem;
/* margin-top: 2.8rem; */
/* width: 100%; */

}

.footer__list{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.footer__list--item {
    color: #FBFBFB;
    font-weight: 500;
font-size: 2rem;
line-height: 170.1%;
cursor: pointer;
}

.footer__list--item.item__title {
    font-weight: 700;
font-size: 2.4rem;
line-height: 172.8%;
}

.footer__bottom {
    display: flex;
    justify-content: center;
    margin-bottom: 2.4rem;
}

.footer__bottom--text{
   font-weight: 400;
font-size: 1.8rem;
gap: 4px;
line-height: 172%;
color: #FBFBFB; 
display: flex;
align-items: center;
}

